version: "3.8"

services:
  app:
    build: .
    container_name: attendance-backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=attendance_db
      - GIN_MODE=release
    depends_on:
      - db:
        condition: service_healthy

    networks:
      - attendance-network

  db:
    image: mysql:8.0
    container_name: attendance-db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=attendance_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - attendance-network

networks:
  attendance-network:
    driver: bridge

volumes:
  db_data:
